/* reset browser */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container-1{
    width: 1700px;
    height: 1000px;
    background-color: silver;
    border-radius: 20px;
    display: flex;
}

.box-1{
    width: 250px;
    height: 350px;
    background-color: white;
    margin-top: 300px;
    margin-left: 725px;
    border-radius: 3px;
}

.img-1{
    width: 250px;
    height: 150px;
    margin-top: 10px;
}

.text-2{
    font-size: 15px;
    margin: 10px;
    color: rgb(68, 68, 68);
}

.box-2{
    background-color: rgb(242, 101, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.text-1{
    color: white ;
    margin-left: 15px;
    padding-top: 10px;  
}

#icon-1{
    color: gray;
    margin-left: 10px;
}

#icon-1:hover{
    color: black;
}

#icon-1:focus{
    color: red;
}

#icon-2{
    color: gray;
    margin-left: 10px;
}

#icon-2:hover{
    color: black;
}

#icon-2:focus{
    color:dodgerblue;
}

#icon-3{
    color: gray;
    margin-left: 165px;
}

#icon-3:hover{
    color: black;
}

#icon-3:focus{
    color: black;
}

#icon-5{
    color: gray;
    margin-top: -15px;
    margin-left: 220px;
}